<div class="task-1">
  <h1>Task 1</h1>
  <hr />
  <div class="p-4" [innerHTML]="innerHtmlToDisplay"></div>
</div>
<div class="task-2">
  <h1>Task 2</h1>
  <hr />
  <div class="grid p-4 grid-cols-2">
    @for (subOutput of subscriptionOutputs; track $index) {
    <ul>
      @for (singleOutput of subOutput; track $index) {
      <li>{{ singleOutput }}</li>
      }
    </ul>
    }
  </div>
</div>
<div class="task-3">
  <h1>Task 3</h1>
  <hr />
  <div class="p-4">
    Result of findIndexes:
    <span class="font-bold">{{ foundIndexes.join(', ') }}</span>
  </div>
</div>
